.App {
  text-align: center;
}



.dot {
  float:left;
  height: 8px;
  width: 8px;
  /* background-color: #f87171; */
  border-radius: 50%;
  display: inline-block;
  margin-left: 1px;
  
}

.detailtdot {
  float:left;
  height: 100px;
  width: 100px;
  /* background-color: #f87171; */
  border-radius: 50%;
  display: inline-block;
  margin-left: 1px;
  
}