@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

* {
  
  font-family: 'Noto Sans KR', sans-serif;
}

.App {
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
}


.content{
  text-align: center;
}

.content2{
  text-align: left;
}

.dot {
  float:left;
  height: 8px;
  width: 8px;
  /* background-color: #f87171; */
  border-radius: 50%;
  display: inline-block;
  margin-left: 1px;
  
}

.detailtdot {
  float:left;
  height: 100px;
  width: 100px;
  /* background-color: #f87171; */
  border-radius: 50%;
  display: inline-block;
  margin-left: 1px;
  
}